EXPO_PUBLIC_API_URL=https://example.execute-api.us-east-2.amazonaws.com/prod/mobile/v1
EXPO_PUBLIC_COGNITO_REGION=us-east-2
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-2_example
EXPO_PUBLIC_COGNITO_CLIENT_ID=exampleclientid
