VITE_ADMIN_API_URL=https://example.execute-api.us-east-2.amazonaws.com/prod/admin/v1
VITE_ADMIN_COGNITO_REGION=us-east-2
VITE_ADMIN_COGNITO_USER_POOL_ID=us-east-2_example
VITE_ADMIN_COGNITO_CLIENT_ID=exampleclientid
